.App {
  text-align: center;
}

.marginTop30 {
  margin-top: 30vh;
}

.width40 {
  width: 40vw;
}

.flexRow {
  display: flex;
  flex-direction: row !important;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.navbar {
  justify-content: space-evenly;
}
